
*.json
*.csproj
.vs/IntelliSearch/v16/Server/sqlite3/storage.ide-shm
.vs/IntelliSearch/v16/Server/sqlite3/storage.ide-wal
*.pdb
*.cache
*.dll
obj/Debug/netcoreapp3.1/IntelliSearch.assets.cache

*.lock
*.cache
*.ide
*.props
.vs/IntelliSearch/v16/.suo
.vs/IntelliSearch/DesignTimeBuild/.dtbcache
*.cache
obj/Debug/netcoreapp3.1/IntelliSearch.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/IntelliSearch.assets.cache
obj/IntelliSearch.csproj.nuget.cache
obj/Debug/netcoreapp3.1/IntelliSearch.assets.cache
obj/Debug/netcoreapp3.1/IntelliSearch.csprojAssemblyReference.cache
*.cache
*.cache
*.cache
.vs/IntelliSearch/v16/Server/sqlite3/db.lock
